[package]
name = "fhc"
version = "0.1.0"
authors = ["Eduard Tolosa <edu4rdshl@protonmail.com>"]
edition = "2018"
description = "Fast HTTP Checker."
repository = "https://github.com/edu4rdshl/fhc"
license = "GPL-3.0-or-later"
keywords = ["http", "https", "http-checker"]
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "0.2.22", features = ["full"] }
futures = "0.3.5"
clap = "2.33.3"
reqwest = "0.10.8"
openssl = { version = "0.10.30", features = ["vendored"] }
